.overflow {
    overflow: hidden;
}
#audio-player {
    width: 350px;
    padding-bottom: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #444444, #111111);
    background-image: -moz-linear-gradient(top, #444444, #111111);
    background-image: -o-linear-gradient(top, #444444, #111111);
    background-image: -ms-linear-gradient(top, #444444, #111111);
    background-image: linear-gradient(to bottom, #444444 0%, #111111 100%);
    -webkit-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, 0.15 ), 0 0 3px rgba( 0, 0, 0, 0.5 );
    -moz-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, 0.15 ), 0 0 3px rgba( 0, 0, 0, 0.5 );
    -o-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, 0.15 ), 0 0 3px rgba( 0, 0, 0, 0.5 );
    -ms-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, 0.15 ), 0 0 3px rgba( 0, 0, 0, 0.5 );
    box-shadow: inset 0 1px 0 rgba( 255, 255, 255, 0.15 ), 0 0 3px rgba( 0, 0, 0, 0.5 );
}
.audio-box {
    padding: 16px 12px 0px 12px;
}
.audio-detail {
    position: relative;
}
.audio-detail img {
    float: left;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.audio-descript {
    position: relative;
    font-size: 14px;
    left: 10px;
}
.audio-descript span {
    display: block;
    color: #EEEEEE;
    font-family: "Raleway",Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.audio-descript i {
    display: block;
    color: #DDDDDD;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 11px;
}
.audio-controls {
    position: relative;
    margin-top: 20px;
    left: 5px;
}
.play-control {
    display: inline-block;
}
#prev, #play-pause, #next {
    display: block;
    float: left;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
#prev {
    background: url("../images/prevnext.png");
}
#prev:hover {
    background-position: 0 48px;
}
#play-pause {
    background: url("../images/playpause.png");
}
#play-pause:hover {
    background-position: 0 48px;
}
#next {
    background: url("../images/prevnext.png") 48px 0;
}
#next:hover {
    background-position: 48px 48px;
}
#loop-control {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/loop.png") 0 0;
    margin-bottom: 12px;
    cursor: pointer;
}
#loop-control:hover {
    background-position: 0% 100%;
}
.volume-control {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/volume.png") 0 0;
    margin-bottom: 12px;
    cursor: pointer;
}
.volume-control:hover {
    background-position: 0 100%;
}
#bar {
    position: absolute;
    top: -75px;
    width: 24px;
    height: 75px;
    background-image: -webkit-linear-gradient(top, #464444, #111111);
    background-image: -moz-linear-gradient(top, #464444, #111111);
    background-image: -o-linear-gradient(top, #464444, #111111);
    background-image: -ms-linear-gradient(top, #464444, #111111);
    background-image: linear-gradient(to bottom,#464444 0%,#111111 100%);
    border-radius: 3px;
    box-shadow: 1px -1px 3px black;
    display: none;
}
#volume-bar {
    background-color: rgb(250, 183, 41);
    position: absolute;
    left: 8px;
    top: 8px;
}
.playlist-box {
    padding: 0 12px;
}
.playlist-box ol {
    padding: 0 0 0 1em;
}
.playlist-box li {
    color: #999;
    line-height: 20px;
    font-size: 12px;
    font-family: 'Open Sans', Arial, sans-serif;
    cursor: pointer;
}
.playlist-box li:hover {
    color: #EEEEEE;
}
.playlist-box .hovered {
    color: #EEEEEE;
}
.playlist-box .audio-time {
    float: right;
}